.tdot-banner {
	min-height: 50vh;
	margin: 1rem;
	padding: 1rem;
	background: #eee;
	border-radius: .7rem;
	box-shadow: .1rem .2rem .4rem #444;
	position: relative;
	font-family: 'Montserrat', 'Ubuntu', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: .5s;
}

.tdot-header {
	font-weight: 300;
	font-size: 20vmin;
	color: #7b3;
}

.tdot-body {
	font-size: 2rem;
	text-align: center;
}

.tdot-action {
	font-weight: inherit !important;
	font-family: inherit !important;
	margin: 2rem !important;
	font-size: 2rem !important;
	border: 2px solid #7b3;
	color: #7b3 !important;
	padding: 1rem 2rem;
	border-radius: 1rem;
	transition: .2s;
	text-decoration: none !important;
}

.tdot-action:hover {
	background-color: #7b3;
	color: #fff !important;
}

.tdot-hide {
	font-weight: inherit !important;
	font-family: inherit !important;
	position: absolute;
	top: 1rem;
	left: 1rem;
	color: #7b3 !important;
}
